.inputBox {
  padding-inline: 1rem;
  padding-block: 1.25rem 1rem;
  border: none;
  border-radius: 0.35em;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  cursor: pointer;
  box-shadow: 0 0 1px 1px var(--clr-gray-200, #d9d8dc);
  background-color: #fff;
  transition: background-color 0.35s ease, box-shadow 0.35s ease;
}

.inputBox--checked {
  box-shadow: 0 0 1px 1.25px var(--clr-purple-500, #4a41ff);
  background-color: #f8f9fe;
}

.input {
  appearance: none;
}

.plan__icon {
  margin-bottom: 2.25rem;
  max-width: 2.75rem;
}
.plan__icon svg {
  width: 100%;
}

.plan__info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.plan__name {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--clr-blue-900, #03295a);
}

.plan__price {
  font-size: 0.95rem;
  color: #afafaf;
}

.plan__free {
  font-size: 0.9rem;
  color: var(--clr-blue-900, #03295a);
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .inputBox {
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
  }
  .plan__icon {
    margin: 0;
  }
}
