.plans {
  max-width: 100%;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.plans > * {
  flex: 1;
}

.planDuration__selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
  border-radius: 1em;
  background-color: #f8f9fe;
}

.planDuration {
  font-size: 1rem;
  font-weight: 500;
  color: #929292;
  transition: color 0.35s ease;
  cursor: pointer;
}

.planDuration__active {
  color: #042859;
}
