.summary {
  font-size: 0.96rem;
  color: var(--clr-gray-400, #8f8f8f);
}

.summary__content {
  background-color: #f8f9fe;
  padding: 1.5em;
  border-radius: 0.5em;
  margin-bottom: 1.5em;
}

.summary__plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4em;
  padding-bottom: 1.35em;
  margin-bottom: 1.35em;
  border-bottom: solid 1.25px #e6e6e6;
}

.plan__name {
  color: var(--clr-blue-900, #03295a);
  font-size: 1.1em;
  font-weight: 500;
  display: block;
}

.plan__price {
  color: var(--clr-blue-900, #03295a);
  font-size: 1.1em;
  font-weight: 700;
}

.plan__changeButton {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}

.summary__addons {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.addon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4em;
}

.addon__price {
  font-weight: 500;
  color: var(--clr-blue-900, #03295a);
}

.summary__footer {
  padding-inline: 1.5em;
  display: flex;
  align-items: center;
  gap: 0.4em;
  justify-content: space-between;
}

.totalPrice {
  font-size: 1.35em;
  color: var(--clr-purple-500, #4a41ff);
  font-weight: 700;
}
