.input__group {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
  position: relative;
}

.input {
  width: 100%;
  padding: 0.75em 1em;
  border: none;
  outline: none;
  box-shadow: 0 0 1px 1px var(--clr-gray-200, #d9d8dc);
  border-radius: 0.35em;
  transition: box-shadow 0.35s ease;
  font-size: 1rem;
  font-weight: 700;
  color: var(--clr-blue-900);
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--clr-blue-900, #03295a);
}

.input:focus {
  box-shadow: 0 0 1px 1px var(--clr-purple-500, #4a41ff);
}

.input__label {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--clr-blue-900, #03295a);
}

.input::placeholder {
  font-weight: 500;
  color: var(--clr-gray-400, #8f8f8f);
}

.error {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--clr-pink-500, #d05669);
}

.input--error {
  box-shadow: 0 0 1px 1px var(--clr-pink-500, #d05669);
}
