.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: min(95%, 1000px);
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--clr-blue-50, #eef5ff);
}

@media screen and (max-width: 768px) {
  .main {
    padding-block: 0;
    grid-template-columns: 1fr;
  }
}
