.button {
  --txt-color: var(--clr-black, #1e1e1e);
  --bg-color: var(--clr-white, #fff);
  font-family: inherit;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 400;
  transition: scale 0.35s ease, background-color 0.35s ease, color 0.35s ease;
}

.button--primary {
  --txt-color: var(--clr-white, #fff);
  background-color: var(--bg-color);
  color: var(--txt-color);
  padding: 0.75em 1.6em;
  border-radius: 0.5em;
}

.button--secondary {
  --txt-color: var(--clr-gray-400, #8f8f8f);
  color: var(--txt-color);
  font-weight: 500;
}

.button--blue {
  --bg-color: var(--clr-blue-900, #03295a);
}

.button--purple {
  --bg-color: var(--clr-purple-500, #4a41ff);
}

.button--primary:hover {
  background-color: hsl(from var(--bg-color) h s l / 0.9);
}

.button--secondary:hover {
  color: #042040;
}

.button:active {
  scale: 0.935;
}
